<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>

<% form_tag '/login' do -%>
  <p>Please sign in: (password is same as username in this test app)</p>
  <label for="username">Username:</label>
  <%= text_field_tag "username" %><br />
  <label for="password">Password:</label>
  <%= password_field_tag "password" %><br />
  <%= submit_tag "Sign in" %>
<% end -%>

<br />

<p>
<%= link_to 'Return to test page', :controller => 'account', :action => 'index' %>
</p>
